<div class="sidebar" data-color="white" data-active-color="danger">
	<!--
	  Tip 1: You can change the color of the sidebar using: data-color="blue | green | orange | red | yellow"
 -->
	<div class="logo">
		<img src="/images/logo.png" alt="">
	</div>
	<div class="sidebar-wrapper">
		<div class="user">
			<div class="photo">
				<img src="/images/user.png">
			</div>
			<div class="info">
				<a data-toggle="collapse" href="#collapseExample" class="collapsed">
              <span>
                {$user->firstname} {$user->surname}
					  <b class="caret"></b>
              </span>
				</a>
				<div class="clearfix"></div>
				<div class="collapse" id="collapseExample">
					<ul class="nav">
						<li>
							<a href={plink User:default $user->id}>
								<span class="sidebar-mini-icon">MP</span>
								<span class="sidebar-normal">{_messages.basic.myProfile}</span>
							</a>
						</li>
						<li>
							<a href={plink Dashboard:LogOut}>
								<span class="sidebar-mini-icon">X</span>
								<span class="sidebar-normal">Odhlásit se</span>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<ul class="nav">
			<li n:foreach="$pages as $page" n:class="$page->isActive ? active ">
				<a href="{plink $page->url}">
					<i class="{$page->icon}"></i>
					<p>{$page->name}</p>
				</a>
			</li>

		</ul>
	</div>
</div>
<div class="main-panel">
	<!-- Navbar -->
	<nav class="navbar navbar-expand-lg navbar-absolute fixed-top navbar-transparent">
		<div class="container-fluid">
			<div class="navbar-wrapper">
				<div class="navbar-toggle">
					<button type="button" class="navbar-toggler">
						<span class="navbar-toggler-bar bar1"></span>
						<span class="navbar-toggler-bar bar2"></span>
						<span class="navbar-toggler-bar bar3"></span>
					</button>
				</div>
				<a class="navbar-brand">{$pagetitle}</a>
			</div>
			<div class="collapse navbar-collapse justify-content-end" id="navigation">
			</div>
		</div>
	</nav>